HANDSHAKE
bank.dat
60
bwelcom
bmenu
bnew
bclose

--------------------------
Configuration file format:

line 1 = Driver type (HANDSHAKE, INTERRUPT, BIOS, PCBTRAP)
line 2 = Savings Bank Accounting filename
line 3 = Highest allowed balance (in minutes)
line 4 = Welcome message filename      \
line 5 = Main menu filename             \    "G" added to end
line 6 = New account message filename    >-- for graphics mode
line 7 = Closing door message filename  /
