The Tool Shop BBS: Specializing in Software Tools
[MAIN BOARD FILE AREAS]
U:\PCB\GEN\DLDIR1
S.H.Smith-Comm, DOOR & BBS Utils
U:\PCB\GEN\DLDIR2
S.H.Smith-Library Source Code
U:\PCB\GEN\DLDIR3
S.H.Smith-Older Utilities
U:\PCB\GEN\DLDIR4
S.H.Smith-All Other Programs
U:\PCB\GEN\DLDIR5
(empty)
U:\PCB\GEN\DLDIR6
BBS-Comm & Terminal Programs
U:\PCB\GEN\DLDIR7
BBS-Fido and Opus Type BBS
U:\PCB\GEN\DLDIR8
BBS-Offline Mail Readers
U:\PCB\GEN\DLDIR9
BBS-PCBoard BBS
U:\PCB\GEN\DLDIR10
BBS-RBBS BBS
U:\PCB\GEN\DLDIR11
BBS-Other BBS Programs
U:\PCB\GEN\DLDIR12
(empty)
U:\PCB\GEN\DLDIR13
(empty)
U:\PCB\GEN\DLDIR14
(empty)
U:\PCB\GEN\DLDIR15
(empty)
U:\PCB\GEN\DLDIR16
(empty)
U:\PCB\GEN\DLDIR17
(empty)
U:\PCB\GEN\DLDIR18
(empty)
U:\PCB\GEN\DLDIR19
(empty)
U:\PCB\GEN\DLDIR20
Language-"C" Source Code & Unix
U:\PCB\GEN\DLDIR21
Language-"ADA" Source Code
U:\PCB\GEN\DLDIR22
Language-"AI" Source Code
U:\PCB\GEN\DLDIR23
Language-"Assembly" Source Code
U:\PCB\GEN\DLDIR24
Language-"Basic" Source Code
U:\PCB\GEN\DLDIR25
Language-"Forth" Source Code
U:\PCB\GEN\DLDIR26
Language-"Pascal" Source Code
U:\PCB\GEN\DLDIR27
Language-All Other Source Code
U:\PCB\GEN\DLDIR28
(empty)
U:\PCB\GEN\DLDIR29
Mag-Magazine Listings & Utils
U:\PCB\GEN\DLDIR30
Mag-Online Newsletters
U:\PCB\GEN\DLDIR31
(empty)
U:\PCB\GEN\DLDIR32
Misc-Business & Spreadsheet
U:\PCB\GEN\DLDIR33
Misc-Database
U:\PCB\GEN\DLDIR34
Misc-Educational
U:\PCB\GEN\DLDIR35
Misc-Games and Fun Stuff
U:\PCB\GEN\DLDIR36
Misc-Hints, Tips and Fixes
U:\PCB\GEN\DLDIR37
Misc-Programs for Home & Family
U:\PCB\GEN\DLDIR38
Misc-Science, Engineering, Math
U:\PCB\GEN\DLDIR39
Misc-Music and Sound
U:\PCB\GEN\DLDIR40
Misc-Religious
U:\PCB\GEN\DLDIR41
Misc-Space/Astronomy/Mapping
U:\PCB\GEN\DLDIR42
Misc-Text Files on All Subjects
U:\PCB\GEN\DLDIR43
Misc-Word Processing
U:\PCB\GEN\DLDIR44
(empty)
U:\PCB\GEN\DLDIR45
Util-Batch Utilities
U:\PCB\GEN\DLDIR46
Util-Debugging & Benchmark
U:\PCB\GEN\DLDIR47
Util-Hard and Floppy Disk
U:\PCB\GEN\DLDIR48
Util-DOS Utilities
U:\PCB\GEN\DLDIR49
Util-File Management
U:\PCB\GEN\DLDIR50
Util-Graphics
U:\PCB\GEN\DLDIR51
Util-Keyboard
U:\PCB\GEN\DLDIR52
Util-Memory
U:\PCB\GEN\DLDIR53
Util-Menu Programs
U:\PCB\GEN\DLDIR54
Util-Modem Config & Utility
U:\PCB\GEN\DLDIR55
Util-Mouse
U:\PCB\GEN\DLDIR56
Util-Multi-Tasking
U:\PCB\GEN\DLDIR57
Util-Networking
U:\PCB\GEN\DLDIR58
Util-OS/2
U:\PCB\GEN\DLDIR59
Util-Printer Utils & Fonts
U:\PCB\GEN\DLDIR60
Util-Screen Utils & Fonts
U:\PCB\GEN\DLDIR61
Util-Virus
U:\PCB\GEN\DLDIR62
Util-All Other Utilities
U:\PCB\GEN\DLDIR63
(empty)
U:\PCB\GEN\DLDIR64
Windows-Applications
U:\PCB\GEN\DLDIR65
Windows-Printer/Screen Drivers
U:\PCB\GEN\DLDIR66
Windows-Fonts
U:\PCB\GEN\DLDIR67
Windows-Game Programs
U:\PCB\GEN\DLDIR68
Windows-Programming Utils
U:\PCB\GEN\DLDIR69
Windows-Various Utility Programs
U:\PCB\GEN\DLDIR70
Windows-Wallpaper, Images and Icons
U:\PCB\GEN\DLDIR71
(empty)
U:\PCB\GEN\DLDIR72
CPU-Apple & Macintosh
U:\PCB\GEN\DLDIR73
CPU-Atari, Amiga & Other 68000's
U:\PCB\GEN\DLDIR74
CPU-CP/M and Other 8 bit Machines
U:\PCB\GEN\DLDIR75
CPU-All Other Machine Types
U:\PCB\GEN\DLDIR76
(empty)
U:\PCB\GEN\DLDIR77
Older uploads [>60 days]
U:\PCB\GEN\DLDIR78
Blocked & Unwanted Files
U:\PCB\GEN\DLDIR79
Older Files Soon to be Deleted!
U:\PCB\GEN\UPLOAD
Recent Uploads.  Thanks!
