; ----- New for PROLON.CNF 1.3 -------------------------------------------
;  NOTE:  Your OLD stuff is at the END of this NEW stuff.
;  Need MORE info ??  Run the INSTALL program and VIEW the HELP files
INTERRUPT

SHOW_PLUS OFF           ; Some like the "+" on the blank call-waiting
                        ; screen, and some do not. See the Editors Choice
                        ; VALUES --> ON, OFF
                        ; Default if missing or commented out--> ON
                        ; Editors Choice --> OFF

NEW_PANEL OFF           ; Whether or not to use the NEW call-waiting scrn
                        ; VALUES --> ON, OFF
                        ; Default if missing or commented out--> OFF
                        ; If OFF, no BBS usage stats, use old screen.
                        ; If ON, BBS and NODE usage stats.                
                        ; Editors Choice --> ON                           

FORCE_MSG_SCAN ALL      ; Forces a MAIN ONLY or ALL cnf scan for msgs.    
                        ; VALUES -->  OFF, ALL, or MAIN                   
                        ; Default if missing or commented out--> OFF      
                        ; If OFF, the caller will be asked at login.      
                        ; If ALL or MAIN, no asking, it is FORCED         
                        ; If ALL, ALL conferences will be scanned.        
                        ; If MAIN, caller can OVER-RIDE and get ALL cnfs. 
                        ; Editors Choice --> MAIN                         

FORCE_SCAN_COMMAND N    ; "J ?" command to use when force is on           
                        ; VALUES -->  N, Y, S                             
                        ; ie.    N = J N    Y = J Y   S = J S             
                        ; Editors Choice --> N  (see all NEW msgs)        
                        ; Each of these commands will produce different   
                        ; results, you should experiment to see which     
                        ; is best for you.                                
                        ; Note: If FORCE_MSG_SCAN is NOT active,          
                        ;       this line will have NO effect.            

; ----- End of New ProLON V1.3 Variables----------------------------------

;
; PROLON.CNF - ProLogon 1.2á configuration file
;
; Com port driver - INTERRUPT or BIOS
UPDATE_NET OFF
;
;
; Option Keywords
;
;IDLE_MESSAGE (Hst Dual v32bis Waiting)
                        ;text message of up to 25 characters to be placed
                        ;in USERNET.XXX when this node is idle and waiting
                        ;for a call.
DETECT_ANSI ON
AUTO_LOGON_MENU OFF
AUTO_LOGON COMMENT PROMESG _ PASSWORD
                        ;if user says 'ORDER', the command line
                        ;'OPEN ORDER PASSWORD' will automatically be executed,
                        ;allowing special direct logons without need for
                        ;password or user name entry.
SYSTEM_LEVEL 110        ;Level needed to get into PCBoard

AUTO_REGISTER ON        ;set to OFF to prevent automatic "auto-scan"
                        ;registration for new users in all public conferences.

MIN_BAUD 9600          ;lowest baud rate to allow into system

AUTO_RESET_MINUTES 9999;perform automatic modem reset after specified
                        ;idle time.  set to 9999 to disable auto reset.

DAILY_TIME_LEVEL 99     ;exclude all security level 100 and higher
                        ;users from daily time limits.

;EXPIRE_DAYS 90          ;number of days before expiration for new users

;COMMON_DIR C:\PROD      ;common directory for display files
                        ;default is to use current directory

DISPLAY_NEWS OFF        ;DISPLAY_NEWS ON causes internal display of
                        ;conference news, but defeats the initial "scan
                        ;for personal mail" prompt.
                        ;DISPLAY_NEWS OFF causes prologon to trigger a
                        ;news display and personal mail scan when
                        ;ProDoor is first opened.
                        ;DISPLAY_NEWS BOTH causes internal display of
                        ;conference news, and also signals ProDoor to
                        ;perform the "personal mail" scan when first opened.

FORCE_MONITOR OFF       ;FORCE_MONITOR ON causes ProLogon to stay in the
                        ;Node Monitor display instead of the normal
                        ;control panel.

RING_COUNT 1            ;controls the number of telephone rings required
                        ;before the modem is commanded to answer the phone.

COUNT_LOCAL OFF         ;set to OFF to disable counting local logins
                        ;in the total system calls counter.

;MIN_PASSWORD 4         ;specifies mininum length of password for
                        ;new users.

IGNORE_COM_ERR ON       ;set to ON if your modem generates ?BREAK
                        ;or ?OVERRUN com errors during a ring detect.

;
;
; Door control lines:  Format of each door control line is:
;    LEVEL DOORMENU DOORLIST {*}INIT_DEFAULT {*}RET_DEFAULT
;
; Where:
;    LEVEL          is the user's security level for this control line
;
;    DOORMENU       is the full path and filename of the door menu
;    DOORLIST       is the full path and filename of the doors.dat file
;
;    INIT_DEFAULT   is the initial default door command after logon.
;                   begin with '*' to force this option without prompting.
;                   begin with '**' to force option and prevent user from
;                   over-riding with command stack.
;
;    RET_DEFAULT    is the default door command after return from a door.
;                   begin with '*' to force this option without prompting.
;                   begin with '**' to force option and prevent user from
;                   over-riding with command stack.
;
; If no matching security level is found, the LAST door control line will
; be used.  This allows you to have a "default" door system for most users,
; and additional special door control lines for specific levels.
;
; Examples:
;    50 c:\PCB1\gen\doors c:\PCB1\main\doors.dat *1 *G
;       This door control line applies to security level 50 users.
;       It displays the c:\PCB1\gen\doors door menu, uses the
;       file c:\PCB1\main\doors.dat to control actual doors,
;       forces the caller initially into door 1.  On return from
;       door 1, the 'G'oodbye command is forced.
;
;    2 L:\PCB1\gen\doors2 L:\PCB1\main\doors.dat **S 1
;       forces into system for scripts, disables user over-riding
;       's' option with command stack, later gives default of door 1


; new users - forces into door#15 for registration script, disables user
;             over-riding '15' option with command stack, later forces
;             caller offline if not upgraded by door 15.
5 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **18 **19
6 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **2 **G
29 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
30 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **19 **G
31 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **G **G
39 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
40 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
41 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
45 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
49 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
50 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
51 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
52 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
53 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
59 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
60 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
65 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
69 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
70 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
71 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
72 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
75 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
76 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
80 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
87 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
88 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
90 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
91 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
92 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
; sysop local login - force door 10, later default to door 1
98  C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
99  C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
105 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **15 **1
110 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
120 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
140 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
;10 C:\PCB1\gen\doors C:\PCB1\GEN\door.lst **7 ***1  
111 C:\pcb1\gen\doors C:\pcb1\GEN\door.lst **PROMESG *G
20 C:\PCB1\gen\doors C:\PCB1\gen\door.lst **1 **1
10 C:\PCB1\gen\doors C:\PCB1\gen\door.lst *19 **G
; normal users - forces door 1 initially, then defaults to (g)oodbye
; (since this is the last door control line it applies to all other levels)

